@import "../../styles.scss";

.mat-sidenav-container {
  font-size: 1.4rem;
}
.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 15rem;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar{
  padding: 1rem;
  span {
    margin-left: 1rem;
  }
}

h3 {
  margin: 2rem;
}

.mat-toolbar.mat-primary {
  background-color: $primary-color;
  position: sticky;
  top: 0;
  z-index: 1;
}
